<div class="row">
    <div class="col-xs-12 col-md-4 col-lg-4">
        <img src="../../../assets/Zed_30.jpg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
       
        <p id="nombre">nombre y apellido</p>
        <p id="titulo">desarrollador fullstack jr</p>
       
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ex soluta, fugiat eos quos quisquam eum distinctio consequuntur provident, autem nam sunt tenetur facilis et tempore magnam adipisci aperiam blanditiis.</p>
    </div>
</div>




