<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1" >

    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>trabajo 1</h1>-<h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque doloremque earum fuga. Voluptatem tempore, nostrum eveniet rerum neque nam. Laboriosam, distinctio voluptatum iusto porro dicta cum quas magnam quasi saepe.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1>-<h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque doloremque earum fuga. Voluptatem tempore, nostrum eveniet rerum neque nam. Laboriosam, distinctio voluptatum iusto porro dicta cum quas magnam quasi saepe.</p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1>-<h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque doloremque earum fuga. Voluptatem tempore, nostrum eveniet rerum neque nam. Laboriosam, distinctio voluptatum iusto porro dicta cum quas magnam quasi saepe.</p>
        </ul>
    </div>
</div>
